/* rimuoviamo il margine di default che ci dà il browser */
body {
  margin: 0;
}

h1 {
  margin-bottom: 0;
}


header {

  padding-bottom: 35px;
  border-bottom: 2px solid #ffae21;
  
  background-color: #ededed;

  text-align: center;
}


main {
  padding-left: 18px;
  padding-right: 18px;

  border-bottom: 2px solid #ffae21;

}

h2 {
  color: red;
}


/* tutti gli h2 dentro <section> */
section h2 {
  color: #ce8902;
}